body {

    font: 1.1em/1.45 Cambria, Georgia Pro, Georgia, serif;
    margin: 0;
}

.first {
    margin: 0;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("img/2.jpg");
    padding: 60px 0 0;
    width: 100%;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)) 50% 80% / 105ch 1px no-repeat;
}

.navbar a {
    color: lightslategray;
    padding: 20px 40px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


.mainpar {
    padding: 0 22% 0 22%;
}

.footer {
    padding: 50px 50px;
    background: #ddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer div {
    padding: 0 120px 0 0;
}

.footer ul {
    list-style: none;
}

.smallpicL {
    height: 100px;
    width: 140px;
    transform: rotate(7deg);
    transform: rotate(7deg);
}

.smallpicR {
    height: 100px;
    width: 140px;
    transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.pics {
    padding: 20px 0 0 -40px;
}